@page "/"
<html>
<header>
    <div class="row container card-group">
        <div class="col-sm-12 col-md-12 col-lg-4 card">
            <div class="card-body row">
                <div>
                    <i class=""></i>
                </div>
                <div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 card"></div>
        <div class="col-sm-12 col-md-12 col-lg-4 card"></div>
    </div>
</header>
<body>

</body>
<footer>
</footer>
</html>