@page "/"
<html>
<header class="container-fluid">
    <div class="row card-group">
        <div class="col-sm-12 col-md-12 col-lg-4 card mx-1">
            <div class="card-body row">
                <div class="col-6 text-black">
                    <p>
                        lorem a;osdfkpoas 
                        asfkmsklafm
                        asdfmkasl
                        sdfsadfd
                        asdfasfd
                        asdfasd
                        fas
                        df
                        asdf
                        sad
                        f
                        asdf
                        adsfqafWDFawdfkwlFA;FHA;JKSDFJASDHF;ASHDFJKHASDJKFHAS;JKDH
                    </p>
                </div>
                <div class="col-6 text-black bg-opacity-50 bg-black">

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 card mx-1">
            <div class="card-body row">
                <div class="col-6 text-black">
                    <p>
                        lorem a;osdfkpoas
                        asfkmsklafm
                        asdfmkasl
                    </p>
                </div>
                <div class="col-6 text-black bg-opacity-50 bg-black">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 card mx-1">
            <div class="card-body row">
                <div class="col-6 text-black">
                    <p>
                        lorem a;osdfkpoas
                        asfkmsklafm
                        asdfmkasl
                    </p>
                </div>
                <div class="col-6 text-black bg-opacity-50 bg-black">
                </div>
            </div>
        </div>
    </div>
</header>
<body>

</body>
<footer>
</footer>
</html>