<div class="row card-container">
    <div class="row">
        <div class="col-xs-10 col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-5 ">
            <h1>Dayana Open Source Organization</h1>
            <blockquote>
                Hi ,
                <br />
                you can call me "Dayi"
                <br />
                welcome to dayana official web page
                <br />
                we are like a family
                <br /> 
                also you can be a part of our family
                <br />
                there are many services in our organization
                <br /> 
                explore them and get what you want !
                <br />
            </blockquote>
        </div>
       @* <img class="col-xs-10 col-xl-6 col-lg-6 col-md-6 col-sm-12" src="media/dayana_icon.jpg" style="border-radius:500px; height: 60%; width: 300px;"/>*@
    </div>
</div>
