@inherits LayoutComponentBase
@using Dayana.Client.Shared
<div class="page">
    <AppBar />
@*
    <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
