@inherits LayoutComponentBase
@using Dayana.Client.Shared
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="background-image:src('/media/green-girl.jpg')">
            @Body
        </article>
    </main>
</div>
